<div class="page-header">
    <h1>Viajes</h1>
</div>
<!--class="btn-circle btn btn-danger glyphicon glyphicon-remove"-->
<ul class="list-group">
    <div ng-show="trips.length > 0" ng-repeat="trip in trips | orderBy: 'initDate'">
        <li class="list-group-item">
            <div class="col-md-1">
                <input class="delete_button" type="image" src="images/delete_button.png"  
                      ng-click="prepareForDelete(trip._id)"></span>
            </div>
            <div id="trip_{{$index}}" ng-click="tripClicked(trip)">
                <a href="" style="text-decoration: none;"> 
                    <div style="font-size:20px; color:black;">
                        {{trip.name}}
                    </div>
                </a>
            </div>
        </li>
    </div> 
</ul>

<span ng-hide="trips.length > 0">
    No hay viajes creados
</span>

<div class="row">&nbsp;</div>

<form class="form-horizontal" ng-submit="addTrip()" name="tripForm" style="margin-top:30px;">
    <h3>Agregar un viaje</h3>

    <div>
        
        <!-- Name -->
        <div class="form-group">
            <div class="{{nameErrors ? 'has-error' : (validTripForm === null ? '' : 'has-success')}} col-md-4">
                <input class="form-control" type="text" name="name" placeholder="Nombre"
                       ng-model="trip.name"></input>
            </div>
            <div class="col-md-5 error-label ">
                <span ng-show="nameErrors"
                      style="color:red" ng-bind="nameErrors">
                </span>
            </div>
        </div>

        <!-- Init Date -->
        <div class="form-group">
            <label class="col-md-12">Fecha de Inicio:</label>
            <div class="{{initDateErrors ? 'has-error' : (validTripForm === null ? '' : 'has-success')}} col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="">    
                        <div class="input-group">
                          <input type="date" name="initDate" class="unstyled form-control" ng-model="trip.initDate">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>    
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="trip.initDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }">
                        </datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 error-label">
                <span ng-show="initDateErrors"
                      style="color:red" ng-bind="initDateErrors">
                </span>
            </div>
        </div>

        <!-- End Date -->
        <div class="form-group">
            <label class="col-md-12">Fecha de Regreso:</label>
            <div class="{{endDateErrors ? 'has-error' : (validTripForm === null ? '' : 'has-success')}} col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">    
                        <div class="input-group">
                          <input type="date" name="endDate" class="unstyled form-control" ng-model="trip.endDate">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>    
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="trip.endDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }">
                        </datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 error-label">
                <span ng-show="endDateErrors" 
                      style="color:red" ng-bind="endDateErrors">
                </span>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-primary" id="createTrip"> Crear </button>
        </div>
    </div>
</form>

<div class="modal-backdrop fade in" ng-show="displayDeletePopup"></div>

<div class="alert alert-block alert-error notification fade in" ng-show="displayDeletePopup" id="confirm-delete"  
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="position: fixed; top:30%; left:27%; z-index: 1500;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
                <span>¿Está seguro que quiere eliminar el viaje?</span>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-danger" ng-click="removeTrip()">Eliminar</a>
                <a href="" class="btn btn-default" ng-click="showDeletePopup(false)">Cancelar</a>
            </div>
        </div>
    </div>
</div>

