.alert-danger {
    padding-top:6px; 
    box-shadow:none; 
    margin-bottom:0px;
}

.error-label {
    padding-top:6px; 
}

.glyphicon-remove { 
	cursor:pointer 
} 

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-outer-spin-button,
.unstyled::-webkit-calendar-picker-indicator {display: none; -webkit-appearance: none;}
.unstyled::-webkit-clear-button {-webkit-appearance: none; margin: 0;}