<div ng-show="isLoggedIn">

<div class="page-header">
    <h1> {{trip.name}} </h1>
    <span style="color:grey"> {{trip.initDate | date : 'shortDate'}} al {{trip.endDate | date : 'shortDate'}}</span>
</div>

<!-- <div class="row">&nbsp;</div> -->

<h3>Ciudades</h3>

<div class="form-group">
	<div class="col-md-6">
		<div ng-show="trip.cities.length > 0" ng-repeat="city in trip.cities">
		    <ul class="row">
		    	<div style="font-size:20px">
			    	<span class="label label-Info"> {{$index+1}}</span>
			    	<span>
			    		{{city.name}}
			    	</span>
			    	<span style="font-size:15px">{{'(' + city.days + ' dia' + (city.days > 1 ? 's' : '') + ')'}}</span>
		    	</div>
		    </ul>
		</div>
		<div ng-hide="trip.cities.length > 0">
			<span class="form-group"> No hay ciudades agregadas </span>
		</div> 
	</div>

	<div class="col-md-6">
		<map ng-if="trip.cities.length > 0" class="ng-map" center="{{tripLocations[0]}}" zoom="6">
			<shape name="polyline" path="{{tripLocations}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2">
     		</shape>
		</map>
<!--
		<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
-->
	</div>

</div>

<div class="col-md-12">
	<form style="padding-top:30px" class="form-horizontal" ng-submit="addCity()"
		  name="cityForm" style="margin-top:30px;">
	    <h4>Agregar una Ciudad</h4>

	    <div class="form-group">
	    	<div class="col-md-4">
		        <div class="{{nameErrors ? 'has-error' : (validCityForm === null ? '' : 'has-success')}}">
		            <input class="form-control" on-place-changed="setCity()" types="['geocode']" 
		            ng-model="city.name" ng-change="eraseCityNameAuto()" places-auto-complete placeholder="Nombre" autocomplete="on">
					</input>
	<!--
		            <input class="form-control" type="text" name="name" placeholder="Nombre"
		                   ng-model="city.name"></input>
	-->
		        </div>
		        <div>
		            <span ng-show="nameErrors" style="color:red" ng-bind="nameErrors"></span>
		        </div>
	    	</div>
	    </div>

		<div class="form-group">
	    	<div class="col-md-4">
		        <div class="{{daysErrors ? 'has-error' : (validCityForm === null ? '' : 'has-success')}}">
		            <input class="form-control" type="text" name="days" placeholder="Dias"
		                   ng-model="city.days"></input>
		        </div>
		        <div>
		            <span ng-show="daysErrors" style="color:red" ng-bind="daysErrors"></span>
			    </div>
	    	</div>
	    	
	    </div>
	    
		<button ng-disabled="!(daysLeft > 0)" type="submit" class="btn btn-primary"> Agregar </button>

	</form>
</div>

<div class="col-md-12">
	<button ng-click="toggleCalendar()" class="btn btn-danger"> Calendario </button>
	<button class="btn btn-default" ng-click="back()"> Volver </button>
</div>

<div ng-class="(showCalendar ? '' : 'hidden')" class="col-md-12" id='calendar' ng-model='events'></div>

</div>