<div ng-show="isLoggedIn">

<div class="page-header">
    <h1> {{trip.name}} </h1>
    <span style="color:grey"> {{trip.initDate | date : 'shortDate'}} al {{trip.endDate | date : 'shortDate'}}</span>
</div>

<h3>Ciudades</h3>

<div class="form-group">
	<div class="col-md-6">
		<ul class="list-group">
			<div ng-show="trip.cities.length > 0" ng-repeat="city in trip.cities">
				<li float="left" class="list-group-item">
			    	<div style="padding-left:0px" class="col-md-1">
		                <input class="delete_button" type="image" src="images/delete_button.png"  
		                      ng-click="prepareForDeleteCity(city._id)"></span>
		            </div>
			    	<div style="font-size:20px;">
				    	<span> {{city.name}} </span>
				    	<span style="font-size:15px">{{'(' + city.days + ')'}}</span>
			    	</div>
		        </li>
			</div>
		</ul>

		<div ng-hide="trip.cities.length > 0">
			<span class="form-group"> No hay ciudades agregadas </span>
		</div> 

		<div class="col-md-12">
			<form style="padding-top:30px" class="form-horizontal" name="cityForm" style="margin-top:30px;">
			    <h4>Agregar una Ciudad</h4>

			    <div class="form-group">
			    	<div class="col-md-8">
				        <div class="{{nameErrors ? 'has-error' : (validCityForm === null ? '' : 'has-success')}}">
				            <input class="form-control" on-place-changed="setCity()" types="['geocode']" 
				            	   ng-model="city.name" ng-change="eraseCityNameAuto()" places-auto-complete placeholder="Nombre" autocomplete="on">
							</input>
				        </div>
				        <div>
				            <span ng-show="nameErrors" style="color:red" ng-bind="nameErrors"></span>
				        </div>
			    	</div>
			    </div>

				<div class="form-group">
			    	<div class="col-md-8">
				        <div class="{{daysErrors ? 'has-error' : (validCityForm === null ? '' : 'has-success')}}">
				            <input class="form-control" type="text" name="days" placeholder="Dias"
				                   ng-model="city.days"></input>
				        </div>
				        <div>
				            <span ng-show="daysErrors" style="color:red" ng-bind="daysErrors"></span>
					    </div>
			    	</div>
			    	
			    </div>
			    
			</form>

		</div>

		<div class="col-md-12">
				<button ng-disabled="!(daysLeft > 0)" ng-click="addCity()" class="btn btn-primary"> Agregar </button>
				<button ng-click="toggleCalendar()" class="btn btn-danger"> Calendario </button>
				<button class="btn btn-default" ng-click="back()"> Volver </button>
			</div>

	</div>

	<div class="col-md-6">
		<div ng-show="trip.cities.length > 0" class="ng-map" id="map-canvas"></div>
		<!--
		<map ng-if="trip.cities.length > 0" class="ng-map" center="{{mapCenter()}}" zoom="5">
			<shape name="polyline" path="{{tripLocations}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2">
     		</shape>
     		<div ng-repeat="city in trip.cities">
     			<marker position="{{city.location}}" icon="{path:'CIRCLE', scale: 5, fillColor: 'blue' }" title="{{city.name}}"></marker>
     		</div>
		</map>
		-->
	</div>

</div>

<div class="col-md-12">
	
</div>


<div ng-class="(showCalendar ? '' : 'hidden')" class="col-md-12" id='calendar' ng-model='events'></div>

<div class="modal-backdrop fade in" ng-show="displayCityDeletePopup"></div>

<div class="alert alert-block alert-error notification fade in" ng-show="displayCityDeletePopup" id="confirm-delete-city"  
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="position: fixed; top:30%; left:27%; z-index: 1500;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
                <span>¿Está seguro que quiere eliminar la ciudad?</span>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-danger" ng-click="removeCity()">Eliminar</a>
                <a href="" class="btn btn-default" ng-click="showDeletePopupCity(false)">Cancelar</a>
            </div>
        </div>
    </div>
</div>

</div>