<html>
    <head>
        <title>Viajes</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- 
        Tira un error
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        -->
        <link rel="stylesheet" type="text/css" href="stylesheets/datetimepicker.css">

        <script type="text/javascript" src="javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="javascripts/angular.min.js"></script>
        <script type="text/javascript" src="javascripts/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="javascripts/moment.min.js"></script>
        <script type="text/javascript" src="javascripts/datetimepicker.js"></script>

        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/home_ctrl.js"></script>
        <script src="/javascripts/controllers/trip_ctrl.js"></script>
        <script src="/javascripts/controllers/auth_ctrl.js"></script>
        <script src="/javascripts/controllers/nav_ctrl.js"></script>
        <script src="/javascripts/services/trips_factory.js"></script>
        <script src="/javascripts/services/authentication_factory.js"></script>
    </head>
    <body ng-app="tripsApp">

        <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ui-view></ui-view>              
            </div>
        </div>

    </body>
</html>